In [2]:
import pandas as pd

In [3]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
schools_count = school_data["school_name"].count()
students_count = student_data["Student ID"].count()
total_budget = school_data["budget"].sum()
math_average = student_data["math_score"].mean()
read_average = student_data["reading_score"].mean()
per_pass_math = sum(student_data["math_score"] >= 70) / students_count * 100
per_pass_read = sum(student_data["reading_score"] >= 70) / students_count * 100
per_pass_both = sum((student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)) / students_count * 100

In [7]:
district_summary = pd.DataFrame({"Total Schools": [schools_count],
                                 "Total Students": [students_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [math_average],
                                 "Average Reading Score": [read_average],
                                 "% Passing Math": [per_pass_math],
                                 "% Passing Reading": [per_pass_read],
                                 "% Overall Passing": [per_pass_both]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
school_name = school_data["school_name"]
school_size = school_data["size"]
school_budget = school_data["budget"]
per_student_budget = [school_budget/school_size for school in school_name]
per_student_budget

[0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64,
 0     655.0
 1     639.0
 2     600.0
 3     652.0
 4     625.0
 5     578.0
 6     582.0
 7     628.0
 8     581.0
 9     609.0
 10    583.0
 11    637.0
 12    650.0
 13    644.0
 14    638.0
 dtype: float64]

In [9]:
school_summary = pd.DataFrame({"School Type": school_type,
                               "Total Students": total_students,
                               "Total School Budget": total_budget,
                               "Per Student Budget": per_student_budget,
                               "Average Math Score": math_average,
                               "Average Reading Score": read_average,
                               "% Passing Math": per_pass_math,
                               "% Passing Reading": per_pass_read,
                               "% Overall Passing": per_pass_both})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

In [215]:
top_schools = school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541

In [216]:
bottom_schools = school_summary.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172

In [12]:
ss = school_data_complete.set_index("school_name")
school = school_data_complete["school_name"].keys()
ss

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130